.App {
  text-align: center;
}

.App-header {
  background-color: #c0c5ce;
  height: 100px;
  padding: 20px;
  color: teal;
}

.App-title {
  font-size: 1.5em;
}

.App-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  border: 2px solid teal;
  width: 25%;
  height: 35%;
  margin-top: 3%;
}

.card-header{
  background-color: blue;
  margin-top: 0;
  margin-bottom: 1%;
  color: white;
}
